<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aula 12
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Exemplos de Mapas em Ionic 4</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="full" color="danger" (click)="abrirPagina('exemplo1')">Exemplo 01</ion-button>
  <ion-button expand="full" color="danger" (click)="abrirPagina('exemplo2')">Exemplo 02</ion-button>
  <ion-button expand="full" color="danger" (click)="abrirPagina('exemplo3')">Exemplo 03</ion-button>
  <ion-button expand="full" color="danger" (click)="abrirPagina('exemplo4')">Exemplo 04</ion-button>
</ion-content>
